composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# ---

### <Template from GitHub>
### </Template from GitHub>

### <Mine>
*.DS_Store
*hydrate_db.sql
scratch.*
*.sqlite3
Dump*.sql
info.php
test.php
notes.md
bugs.md
nextsteps.md
*.pem

# Config (TBD)
# config/*.json

# Ignore some Docker things for the moment
docker-compose.yml
Dockerfile*

# Folders
_obj/
_test/
_db_dumps/

### </Mine>
